<div class="container_left">
  <div class="link_index_view">
    <p id="notice"><%= notice %></p>

    <h1>Listing Links</h1>
    <p>Found a great site? Link to it!</p>
    <div class="border">
      <% @links.each do |link| %>

      <div class="each_link_index">
        <h3><%= link.title %></h3>
        <%= link_to link.url,link.url %><br><br>
        Tags:<%= raw link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %><br>
        <%= link_to 'Show', link %>
        <%= link_to 'Edit', edit_link_path(link) %>
        <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
      </div>
      <br>
      <br>
      <% end %>

    </div>
    <br>

    <%= link_to 'New Link', new_link_path %>
    <br>
    <br>
    <%= link_to 'Back', sites_path %>
  </div>
</div>
