<div class="container_left">
  <div class="link_show">
    <p id="notice"><%= notice %></p>

    <div>
      <h4>Title: <%= @link.title %>   Url: <%= link_to @link.url %><br>
        Tags: <%= raw @link.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></h4>
    </div>

    <%= link_to 'Edit', edit_link_path(@link) %>
    |
    <%= link_to 'Back', links_path %>
  </div>
</div>
