<%= form_for(@jot) do |f| %>
  <% if @jot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jot.errors.count, "error") %> prohibited this jot from being saved:</h2>

      <ul>
      <% @jot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Jot %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
