<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @jot.title %>
</p>

<p>
  <strong>Jot:</strong>
  <%= @jot.body %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @jot.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

</p>

<%= link_to 'Edit', edit_jot_path(@jot) %> |
<%= link_to 'Back', jots_path %>
</div>
